.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    padding-top: 60px;
    box-shadow: rgba(0, 0, 0, 0.479) 0px 5px 12px;
}

.sidebar a {
    display: block;
}

.sidebar ul {
    margin-top: 3vh;
    padding: 0;
}

.sidebar ul li {
    list-style: none;
}
.sidebar .nav_title{
    color: rgb(137, 135, 135);
    margin-bottom: 2vh;
    margin-top:2vh;
}
.sidebar .nav_icon{
    margin-right: 10px;
}
.sidebar ul li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 5px 0 5px 10px;
    border-radius: 5px ;
    text-decoration: none;
}

.sidebar ul li .subNav.active {
    background: rgb(0, 195, 255);
    color: #fff;
}

.sidebar ul li .subNav:hover{
    background: rgb(239, 242, 242);
    color: black;
}